@model AvatarCollectionLibrary.Collectable

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Collectable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CollectableID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CollectableID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Worth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Worth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Releasedate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Releasedate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperatingSystem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperatingSystem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ComicEdition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ComicEdition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Novel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Novel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlueRay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlueRay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DVD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DVD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PVC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PVC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FunkoPop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FunkoPop)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
